# python optimised files
__pycache__/
*.py[cod]
*$py.class

# generated images
*_8bpp.png
*_bt32bpp.png
*_rm32bpp.png
pygen/

# nmlc intermediates and output
.nmlcache/
*.grf
*.grf.cache
*.grf.cacheindex
grf/

# working directories
reference/
previews/

# blender backups
*.blend1
