# Auto detect text files and perform LF normalization
* text=auto

# Ensure bash and python files have lf end of line
*.sh text eol=lf
*.py text eol=lf

# LFS filters
*.pdn filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.ase filter=lfs diff=lfs merge=lfs -text
*.blend filter=lfs diff=lfs merge=lfs -text
